.area-tabela {
    overflow-x: auto;
    padding: 1rem 0;
}

.area-tabela table {
    white-space: nowrap;
    width: 100%;
    border-collapse: collapse;
}

.linha-cabecalho-tabela th {
    text-align: center;
    color: #fff;
    background-color: #f28e13;
    padding: .7rem;
}


.linha-corpo-tabela td {
    text-align: center;
    padding: .7rem;
}

.linha-corpo-tabela:nth-child(odd) td {
    background-color: #ccc;
}

.mensagem-sem-pesquisa {
    display: none;
    font-size: 1.1rem;
    text-align: center;
    color: #888;
}