* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 15px;
}

body {
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f0f0f0;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    height: 15rem;
}

header img {
    width: 5rem;
}

nav {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
    text-align: center;
    background-color: #f24141;
}

.botao-menu {
    display: inline-block;
    font-family: inherit;
    font-size: 1.1rem;
    color: #fff;
    background-color: transparent;
    padding: 1rem;
    border: none;
    cursor: pointer;
}

.area-navegacao {
    display: none;
}

.area-navegacao ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    background-color: #bf2c2c;
}

li a {
    display: block;
    text-decoration: none;
    color: #fff;
    padding: 1rem 0;
}

main {
    align-self: center;
    background-color: #fff;
    width: 25rem;
    max-width: 90%;
    padding: 1rem;
    border-radius: .3rem;
    margin: 3rem 0;
    box-shadow: 0 0 1rem rgba(0, 0, 0, .3);
}

main h2 {
    text-align: center;
    margin-bottom: 1rem;
}

.area-campo {
    display: flex;
    flex-direction: column;
    gap: .7rem;
    margin-bottom: 1rem;
}

.campo {
    font-family: inherit;
    font-size: .9rem;
    color: inherit;
    padding: .9rem .7rem;
    border: .063rem solid #ccc;
    border-radius: .3rem;
    outline: none;
}

.campo::placeholder {
    font-size: .8rem;
}

footer {
    background-color: #2980b9;
    padding: 1rem;
    margin-top: auto;
}

.copyright {
    font-style: italic;
    text-align: center;
    color: #fff;
}

@media (min-width: 425px) {
    main h2 {
        font-size: 1.6rem;
    }
}

@media (min-width: 768px) {
    .botao-menu {
        display: none;
    }

    .area-navegacao {
        display: block;
    }

    .area-navegacao ul {
        flex-direction: row;
        justify-content: center;
        background-color: transparent;
    }

    li a {
        padding-left: 1rem;
        padding-right: 1rem;
        transition: all .3s ease-in-out;
    }

    li a:hover {
        background-color: #bf2c2c;
    }
}

@media (min-width: 1024px) {
    html {
        font-size: 16px;
    }
}

@media (min-width: 1440px) {
    html {
        font-size: 18px;
    }
}